.b-color{
color:#082874;
}

.b-bg{
    background-color: #082874;
}
.container-o {
    position: relative;
    width: 100%;
  }
  
  .image-o {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container-o:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text-o {
    color: #ffc107;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .container-t {
    position: relative;
    width: 100%;
    max-width: 300px;
  }
  
  .image-t {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay-t {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    padding-top: 1vw;
    color: white;
    text-align: center;
  }
  
  .container-t:hover .overlay-t {
    opacity: 1;
  }